body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  
  margin:40ch;
   
}
.quantity_input{
  width:5ch;
  height:5ch;
  margin: 20px;
  padding:20px;
  text-align: center;
  
  background-color: rgb(249, 243, 236);

}
.quantity_minus{
  width:10ch;
  height:5ch;
  margin: 20px;
  padding:20px;
  border: 1px solid black;
  background-color: gray;
  font-weight: bolder;
  font-size: larger;
  
}
.quantity_minus:hover{
  background-color: red;
}
.quantity_plus{
  width:10ch;
  height:5ch;
  margin: 20px;
  padding: 19px;
  border: 1px solid black;
  background-color: gray;
  font-weight: bolder;
  font-size: larger;
  
}
.quantity_plus:hover{
  background-color:greenyellow;
}
